extends ../layout

block content
 .row.host-page
   .col-sm-4.col-md-3.sidebar
     include ../shared/submenu
   .host-content.col-sm-8.col-md-9
     .page-header
       h4 !{rule.id}
     form.form-horizontal(id='edit-crawl-rule', action="/host/" + host.id + "/crawl_rule/edit", method='POST')
       input(type='hidden', name='host_id', value=host.id)
       input(type='hidden', name='crawl_rule_id', value=rule.id)
       include _form_with_value
