extends ../layout

block content
  .page-header
    h3 !{title}
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='domain') Domain
      .col-sm-7
        input.form-control(type='domain', name='domain', id='domain', placeholder='www.example.com', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='priority') Priority
      .col-sm-7
        input.form-control(type='number', name='priority', id='priority', value=3, autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='owner') Owner
      .col-sm-7
        input.form-control(type='text', name='owner', id='owner', value="#{currentUser}", autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='encode') Encoding
      .col-sm-7
        input.form-control(type='text', name='encode', id='encode', value='UTF8', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='daily-limit') Daily Limit
      .col-sm-7
        input.form-control(type='number', name='daily_limit', id='daily-limit', value=5000, autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='crawl-interval') Crawl Interval(ms)
      .col-sm-7
        input.form-control(type='number', name='crawl_interval', id='crawl-interval', value=10000, autofocus, required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit') Create
