extends ../layout

block content
  .page-header
    h3 !{title}
  form.form-horizontal(id='create-host-form', action="/host/create", method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='domain') Domain
      .col-sm-7
        input.form-control(type='text', name='domain', id='domain', placeHolder="www.example.com", autofocus, required)
    include _form

