extends ../layout

block content
 .row.host-page
   .col-sm-4.col-md-3.sidebar
     include ../shared/submenu
   .host-content.col-sm-8.col-md-9
      form.form-horizontal(id='edit-host-form', action="/host/" + host.id + "/edit", method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        include _form
