.list-group#submenu
  span.list-group-item.active !{host.domain}
  a.list-group-item(href="/host/" + host.id + "/edit")
    i.fa.fa-cog
    | Settings
  a.list-group-item(href="/host/" + host.id + "/crawl_rule/index")
    i.fa.fa-info-circle
    | Crawl Rules
  a.list-group-item(href="/host/" + host.id + "/extract")
    i.fa.fa-files-o
    | Extract Rules
