.host-page {
  margin-top: 40px;
}

.host-page .fa {
  margin-right: 20px;
}

.page-header h4 {
  display: inline;
}

.host-content .page-header {
  margin-top: 0px;
}

#host-table form {
  display: inline;
}
